<div class="container">
  <h3><%= "#{@exam.code}:#{@exam.description}" %></h3>

  <div>
    <%= @exam.detail %>
  </div>
  <%= link_to 'Take Test', '#', class: 'waves-effect waves-light btn' %>
</div>