<%# Rails flash messages styled for Bootstrap 3.0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="row">
      <div class="col m12">
        <div class="card-panel <%= name.to_s == 'notice' ? 'green lighten-2' : 'red lighten-2' %>">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>        
        </div>
      </div>
    </div>
  <% end %>
<% end %>
